<h1>Agregar Producto</h1>
<hr>

<form [formGroup]="frm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label for="">Nombre:</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-auto">
            <span>Algo de información</span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="changeColor()">Cambiar Color</button>
        </div>
    </div>
</form>

<pre>
{{ frm.get('name')?.errors | json }}
</pre>
<p>Color: {{color}}</p>